{% set flashes = app.session.flashbag.all() %}
{% spaceless %}
﻿<!DOCTYPE html>
<html {% block header_html '' %} xmlns="http://www.w3.org/1999/xhtml">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    {% block base_title %}<title>{% block title "" %}{% block pageTitle %}Home - App{% endblock %}</title>{% endblock base_title %}

    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#    <base href="{{ app.request.getBaseURL() == ""?"/":app.request.getBaseURL() }}">#}
    <base href="/">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    {#<!--Basic Styles-->#}
    <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/font-awesome.min.css') }}" rel="stylesheet" />
    {% block stylesheet_base  '' %}
    
    {#<!--Fonts-->#}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    {#<!--Beyond styles-->#}
    {#
        <link id="beyond-link" href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/beyond.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/typicons.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/animate.min.css') }}" rel="stylesheet" />
        <link id="skin-link" href="" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/skins/darkblue.min.css') }}" rel="stylesheet" />
    #}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        {% set menu = knp_menu_render('app.menu.backend.sidebar', {'template': 'TecnocreacionesCrmTemplateBundle::menu.html.twig', 'currentClass': 'active'}) %}
    {% endif %}
    <script>
        var basePath = '{{ asset('bundles/tecnocreacionescrmtemplate/template/html/') }}';
        appGlobal = {
            basePath: basePath,
            baseUrl: "{{ app.request.getBaseURL() }}",
            locale: "{{ app.request.locale }}",
            select2: {
                language: 'select2/i18n/{{ app.request.locale }}'
            },
            extra: {{ global_template.getExtraValues()|json_encode()|raw }}
        };
    </script>
    {% block base_javascripts %}
        <script src="{{ asset("bundles/tecnocreacionescrmtemplate/template/html/assets/js/jquery-2.2.4.min.js") }}"></script>
    {% endblock base_javascripts %}
    {% block core_stylesheets %}
         <link rel="stylesheet" href="{{ asset("bundles/tecnocreacionescrmtemplate/template/html/assets/css/beyond.css") }}" />
         <link rel="stylesheet" href="{{ asset("bundles/tecnocreacionescrmtemplate/template/html/assets/css/animate.min.css") }}" />
         <link rel="stylesheet" href="{{ asset("bundles/tecnocreacionescrmtemplate/template/html/assets/css/skins/darkblue.min.css") }}" />
         <link rel="stylesheet" href="{{ asset("bundles/tecnocreacionescrmtemplate/template/html/assets/js/toastr/toastr.min.css") }}" />
    {% endblock core_stylesheets %}
    
    {#<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->#}
    <script src="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/js/skins.min.js') }}"></script>
    {% block stylesheet_bottom_core  '' %}
    {% block stylesheet_bottom  '' %}
</head>
<!-- /Head -->
<!-- Body -->
<body {% block body_tag '' %} >
    {% block body '' %}
    {% block body_post '' %}
    {% block core_javascripts %}
        <script src="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/js/toastr/toastr.js') }}"></script>
        <script src="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/js/beyond.js') }}"></script>
    {% endblock core_javascripts %}
    
    {% block javascripts '' %}
        
    <script type="text/javascript">
        var flashManager = {
            time: "10000",
            danger: function(message,title){
                this.show(message,'error',title);
            },
            success: function(message,title){
                this.show(message,'success',title);
            },
            warning: function(message,title){
                this.show(message,'warning',title);
            },
            info: function(message,title){
                this.show(message,'info',title);
            },
            show: function(message,type,title,icon){
                if(message != ""){
                    Notify(message,title,'top-right', this.time, type, true,icon);
                }
                {% if app.debug %}
                    console.log("debug show: "+message+" type: "+type);
                {% endif %}
            }
        };
        $(document).ready(function(){
            {% for type, messages in flashes %}
                {% for message in messages %}
                    
                    {% if type == "success" %}
                        flashManager.success("{{ message }}");
                    {% elseif type == "error" %}
                        flashManager.danger("{{ message }}");
                    {% elseif type == "warning" %}
                        flashManager.warning("{{ message }}");
                    {% elseif type == "info" %}
                        flashManager.info("{{ message }}");
                    {% endif%}
                {% endfor %}
            {% endfor %}
        });
    </script>
    {% if app.debug == false %}
        {% block analytics '' %}
    {% endif%}
</body>
<!--  /Body -->
</html>
{% endspaceless %}