{% set flashes = app.session.flashbag.all() %}
{% spaceless %}
﻿<!DOCTYPE html>
<html {% block header_html '' %} xmlns="http://www.w3.org/1999/xhtml">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>{% block title "" %}{% block pageTitle %}Home - App{% endblock %}</title>

    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    {#<!--Basic Styles-->#}
    <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/font-awesome.min.css') }}" rel="stylesheet" />
    {% block stylesheet_base  '' %}
    
    {#<!--Fonts-->#}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    {#<!--Beyond styles-->#}
    {#
        <link id="beyond-link" href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/beyond.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/typicons.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/animate.min.css') }}" rel="stylesheet" />
        <link id="skin-link" href="" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/css/skins/darkblue.min.css') }}" rel="stylesheet" />
    #}
    {% block base_javascripts %}
        {% javascripts 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/js/jquery-2.0.3.min.js'

            filter='uglifyjs2' 
            output="assets/template_base_pre.min.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock base_javascripts %}
    {% block core_stylesheets %}
        {% stylesheets 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/css/beyond.min.css' 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/css/typicons.min.css' 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/css/animate.min.css' 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/css/skins/darkblue.min.css' 

            filter='uglifycss' 
            filter='cssrewrite' 
            output="assets/template_base.min.css"
        %}
             <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock core_stylesheets %}
    
    {#<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->#}
    <script>
        var basePath = '{{ asset('bundles/tecnocreacionescrmtemplate/template/html/') }}';
    </script>
    <script src="{{ asset('bundles/tecnocreacionescrmtemplate/template/html/assets/js/skins.min.js') }}"></script>
    {% block stylesheet_bottom_core  '' %}
    {% block stylesheet_bottom  '' %}
</head>
<!-- /Head -->
<!-- Body -->
<body {% block body_tag '' %} >
    {% block body '' %}
    {% block body_post '' %}
    {% block core_javascripts %}
        {% javascripts 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/js/bootstrap.min.js' 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/js/beyond.min.js' 
            'bundles/tecnocreacionescrmtemplate/template/html/assets/js/toastr/toastr.js' 

            filter='uglifyjs2' 
            output="assets/template_base.min.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock core_javascripts %}
    
    {% block javascripts '' %}
        
    <script type="text/javascript">
        var flashManager = {
            time: "10000",
            danger: function(message,parameters){
                this.show(message,'danger', 'fa-times');
            },
            success: function(message,parameters){
                this.show(message,'success', 'fa-check');
            },
            warning: function(message,parameters){
                this.show(message,'warning', 'fa-warning');
            },
            info: function(message,parameters){
                this.show(message,'info', 'fa-info');
            },
            debug: function(message,parameters){
                {% if app.debug %}
                    console.log(message);
                    this.show("Debug: "+message,'maroon', 'fa-home');
                {% endif %}
            },
            show: function(message,type,icon){
                if(message != ""){
                    Notify(message, 'top-right', this.time, type, icon, true);
                }
                {% if app.debug %}
                    console.log("debug show: "+message+" type: "+type);
                {% endif %}
            }
        };
        $(document).ready(function(){
            {% for type, messages in flashes %}
{#                flashManager.debug("Tipo - {{ type }}");#}
                {% for message in messages %}
                    
                    {% if type == "success" %}
                        flashManager.success("{{ message }}");
                    {% elseif type == "error" %}
                        flashManager.danger("{{ message }}");
                    {% elseif type == "warning" %}
                        flashManager.warning("{{ message }}");
                    {% elseif type == "info" %}
                        flashManager.info("{{ message }}");
                    {% elseif type == "debug" %}
                        flashManager.debug("{{ message }}");
                    {% endif%}
                {% endfor %}
            {% endfor %}
        });
    </script>
    {% block javascript '' %}
    {% if app.debug == false %}
        {% block analytics '' %}
    {% endif%}
</body>
<!--  /Body -->
</html>
{% endspaceless %}